<template name="chooseUserFinished">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title animated-fadeInRight">
          <h2 class="modal-title animated fadeInRight">Success!</h2>
        </h2>
      </div>
      <div class="modal-body">
        <div class="row animated fadeInRight">
          <div class="col-xs-12">
            <p class="lead">You have successfully logged in.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>