@import '/client/style/imports.import.less';

.navbar-plusmore {
  width: 100%;
  background: rgba(0,0,0,.7);
  border: none;
  min-height: 65px;


  .icon-menu {
    font-size: 2.5em;
    position: absolute;
    top: 0px;
    line-height: 60px;
    vertical-align: middle;

    span.text {
      font-size: .3em;
      text-decoration: none;
      position: absolute;
      top: 47px;
      text-transform: uppercase;
      font-style: normal;
      left: 2px;
      line-height: 1;
    }
  }

  .navbar-title {
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    display: block;
    line-height: 65px;
    vertical-align: middle;
  }

  a.navbar-brand {
    color: #fff;
    &:hover, &:active, &:focus , &:visited {
      background: transparent;
    }
  }

  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    &.in {
      height: 518px;
      max-height: 518px;
    }
  }

  .nav {
    li {
      background: none;

      &:hover, &:active, &:focus, &:visited {
        background: none;
      }

      &.inactive {
        background: none;
        &:hover, &:active, &:focus, &:visited {
          background: none;
        }
      }

      &.active {
        background: rgba(255,255,255,1);
        border-bottom: 1px solid #fff;

        &:hover, &:active {
          background: #fff;
        }
        a {
          color: #000;
          &:hover, &:active, &:focus , &:visited {
            color: #000;
          }

          span.text {
            color: #000;
          }
        }
      }

      a {
        color: #fff;
        &:hover, &:active, &:focus , &:visited {
          background: transparent;
        }
      }
    }
  }
}

.navbar-plusmore-subnav {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  border: none;
  top: 65px;
  height: 50px;

  a.navbar-brand {
    color: #000;
    &:hover, &:active, &:focus , &:visited {
      background: transparent;
    }
  }

  .dropdown-menu .divider {
    background-color: #666;
  }

  button {
    color: #000;
    span.icon-bar {
      background-color: #000; 
    }
  }

  .nav {

    li {
      background: none;

      &:hover, &:active, &:focus, &:visited {
        background: none;
      }

      &.inactive {
        background: none;
        &:hover, &:active, &:focus, &:visited {
          background: none;
        }
      }

      &.active {
        background: rgba(0,0,0,1);
        border-bottom: 1px solid #000;

        &:hover, &:active {
          background: #000;
        }
        a {
          color: #fff;
          &:hover, &:active, &:focus , &:visited {
            color: #fff;
          }

          span.text {
            color: #fff;
          }
        }
      }

      a {
        color: #000;
        &:hover, &:active, &:focus , &:visited {
          background: transparent;
        }
      }
    }
  }
}

// small
@media (min-width: 768px) {
  .navbar-plusmore {
    .navbar-collapse {
      background-color: transparent;
      border: none;
    }
  }

  .navbar-plusmore-subnav {
    .navbar-nav {
      display: inline-block;
      float: none;
    }

    .navbar-collapse {
      text-align: center;
    }
  }
}

// medium
@media (min-width: 992px) {}

// large
@media (min-width: 1200px) {}