<template name="accountInfo">
 
    <div class="modal-dialog">
      <div class="modal-content">

        {{#with currentUser}}

          <div class="modal-header">
            <div class="pull-right">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">
                  <i class="icon icon-x"></i>
                </span>
                <span class="sr-only">Close</span>
              </button>
            </div>
            <h2 class="modal-title animated-fadeInRight">
              <h2 class="modal-title animated fadeInRight">{{title}}</h2>
            </h2>
          </div>

          <div class="modal-body">
            <div class="row animated fadeInRight">
              <div class="col-xs-12">
                <h4>Your Account</h4>
                <div class="instructions">
                  Email: {{emailAddress}}
                </div>
                
                {{#if duringStay}}
                  <h4>Current Stay</h4>
                  <div class="instructions">
                    Checkout Date: {{checkoutDate}}
                  </div>
                {{/if}}
              </div>  

              <div class="col-xs-12 extra-spacing-top">
                <a href="#" class="btn btn-default js-logout">Log Out</a>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default animated fadeInRight">Done</button>
          </div>

        {{/with}}

      </div>
    </div> 

</template>