<template name="accountInfo">
    <div class="modal-dialog">
      <div class="modal-content">

        {{#with currentUser}}

          <div class="modal-header">
            <div class="pull-right">
              <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">
                  <i class="icon icon-x"></i>
                </span>
                <span class="sr-only">Close</span>
              </button>
            </div>
            <h2 class="modal-title animated fadeInRight">{{title}}</h2>
          </div>

          <div class="modal-body animated fadeInRight">
            <div class="row">
              <div class="col-xs-12">
                
                <h4>
                  Your Account
                  {{#unless editingAccountInfo}}
                    <button class="pull-right btn btn-default btn-xs animated fadeInRight" id='edit-account'>Edit</button>
                  {{/unless}}
                </h4>

                {{#unless editingAccountInfo}}
                  <div class="animated fadeInRight">
                    <div class="instructions">
                      Name: {{firstName}} {{lastName}}
                      <br />
                      Email: {{emailAddress}}
                    </div>
                  </div>
                {{else}}
                  {{> editAccountInfo}}
                {{/unless}}
              </div>

              <div class="col-xs-12">
                {{#if duringStay}}
                  {{#with stay}}
                    <div class="animated fadeInRight">
                      <h4>Current Stay</h4>
                      <div class="instructions">
                        Hotel: {{hotel.name}}
                      </div>
                      <div class="instructions">
                        Room: {{roomName}}
                      </div>
                      <div class="instructions">
                        Checkout Date: {{checkoutDate}}
                      </div>

                    </div>
                  {{/with}}
                {{/if}}
              </div>


              <div class="col-xs-12 extra-spacing-top">
                <a href="#" class="btn btn-default js-logout">Log Out</a>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default animated fadeInRight">Done</button>
          </div>

        {{/with}}

      </div>
    </div> 
</template>