<template name="navbarOuterNav">
  <nav class="navbar navbar-fixed-top navbar-plusmore navbar-outer-nav" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <ul class="nav navbar-nav">
        <li >
          {{> accountsDropdown}}  
        </li>
         
        <li class="pull-right icon-container">
          {{> ordersButton}}  
        </li>
      </ul>
      
    </div><!-- /.container-fluid -->
  </nav>
</template>