<template name="setupDevice">
  
  <div class="register-device big-text ">
    <p class="lead">Setup Device</p>
    
    <div class="section col-md-6 col-md-offset-3">
      {{#autoForm schema=setupDeviceSchema id="setupDeviceForm" type="method" meteormethod="setupDevice" class="pull-left"}}
        <fieldset>
          {{> afQuickField name="hotelId" firstOption="--Select Hotel--" options=hotelOptions}}

          {{> afQuickField name='location'}}

          <div>
            <button type="submit" data-meteor-method="setupDevice" class="btn btn-primary">Setup Device</button>
          </div>
        </fieldset>
      {{/autoForm}}  
    </div>
    
  </div>
</template>