#select-user-backdrop {
  z-index: 4990;
}

#select-user {
  z-index: 5000;

  #choose-user-container {
    padding: 15px 0;
    
    .choose-user-row {
      width: auto;
      white-space: nowrap;
      overflow-x: auto;
      overflow-y: hidden;
      margin: 20px;

      .user-choice.thumbnail {
        display: inline-block;
        background: transparent;
        color: #fff;
        border: 1px solid #fff;
        width: 250px;
        margin-right: 20px;

        .caption {
          color: #fff;
        }
      }  
    }  
  }

  
  
}