<template name="hotelServices">
  {{#if subscriptionsReady}}
    {{#Layout template="subnavContentLayout"}}
      {{#contentFor "title"}}
        Guest Services
      {{/contentFor}}

      {{#contentFor "subnav"}}
        {{> hotelServicesNav}}
      {{/contentFor}}

    
      {{#if hotelServicesEnabled}}

        <div class="row" id="hotel-services-container">
          
          <div class="col-sm-12" id='hotel-services-content'>
            {{> Template.dynamic template=subNavContentTemplate data=configuration}}
          </div>
          
        </div>

      {{else}}
        {{> hotelServicesNotConfigured}}
      {{/if}}

    {{/Layout}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>



<template name="hotelServices_old">
  {{> hotelServicesNavbar}}
  {{#if subscriptionsReady}}
    {{#if hotelServicesEnabled}}
      <section>
        
        <div class="main container-fluid scrollable">
          
        </div>  
      </section>
      
    {{else}}
      {{> hotelServicesNotConfigured}}
    {{/if}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="hotelServicesNotConfigured">
  <section>
    <div class="main container-fluid">
      <div class="big-text">
        <p class="lead">Hotel Services is not configured.</p>
      </div>
    </div>
  </section>
</template>