<template name="ordersSubnav">
	<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#orders-subnav">
      <span class="sr-only">Toggle navigation</span>
      <span>Filter <span class="caret"></span></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="orders-subnav">
    <ul class="nav navbar-nav">
        <li class="{{recentLinkClass}}">
          <a id='recent' href="#">Recent</a>
        </li>
        <li class="{{historyLinkClass}}">
          <a id='history' href="#">History</a>
        </li>
    </ul>
  </div><!-- /.navbar-collapse -->

</template>