<template name="hotelServices">
  {{#if subscriptionsReady}}
    {{#if hotelServicesEnabled}}
      <section>
        <div class="col-sm-2" id='hotel-services-menu'>
          {{> hotelServicesNav}}
        </div>
        <div class="main container-fluid scrollable">
          <div class="row" id="hotel-services-container">
            
            <div class="col-sm-10 col-sm-offset-2" id='hotel-services-content'>
              {{> UI.dynamic template=subNavContentTemplate data=configuration}}
            </div>
            
          </div>
        </div>  
      </section>
      
    {{else}}
      {{> hotelServicesNotConfigured}}
    {{/if}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="hotelServicesNotConfigured">
  <section>
    <div class="main container-fluid">
      <div class="big-text">
        <p class="lead">Hotel Services is not configured.</p>
      </div>
    </div>
  </section>
</template>