<template name="hotelServices">
  {{#if subscriptionsReady}}
    {{#if hotelServicesEnabled}}
      <div class="main-container fill-parent">
        <div class="row" id="hotel-services-container">
          

          <div class="col-md-3" id='hotel-services-menu'>
            {{> hotelServicesNav}}
          </div>
        
          <div class="col-md-9" id='hotel-services-content'>
            {{> UI.dynamic template=subNavContentTemplate}}
          </div>
          
        </div>
      </div>
    {{else}}
      {{> hotelServicesNotConfigured}}
    {{/if}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="hotelServicesNotConfigured">
  <div class="big-text">
    <p class="lead">Hotel Services is not configured.</p>
  </div>
</template>