<template name="welcome">
  {{> welcomeContent}}
</template>

<template name="welcomeContent">
  <section>

    <div id="main" class="main container-fluid scrollable no-padding-top about">

      <header class="row">
        <div class="col-xs-12">
          <h1>Welcome to PlusMore</h1>
          {{#with welcomeToName}}
            <h4>{{this}}</h4>
          {{/with}}
        </div>
      </header>

      {{#hiddenXs}}
      <div class="row features">
        <div class="col-sm-4 feature">
          <i class="icon icon-dining"></i>
          <h3>Room Service</h3>
        </div>
        <div class="col-sm-4 feature">
        <i class="icon icon-nightlife"></i>
          <h3>The Best Experiences</h3>
        </div>
        <div class="col-sm-4 feature">
          <i class="icon icon-vip"></i>
          <h3>Explore {{city}}</h3>
        </div>
      </div>
      {{/hiddenXs}}

      <footer class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <a class='btn btn-lg'>Tap to begin</a>
          <h3 class='location'>{{room.name}}</h3>
        </div>
      </footer>

    </div>

  </section>
</template>
