<template name="reservation">
  <header>
    <h3>
      Reservation for {{experience.title}}
      <small class="pull-right">
        {{orderStatus}}
      </small>
    </h3>
  </header>
  
  {{#if isCancelled}}
    <div class="time-ago">
      <span>Cancelled {{cancelledDateMomentAgo}}</span>  
    </div>
    
  {{else}}
    <div class="reservation-details">
      <p>{{when}}</p>
      <p>{{reservation.partyName}} - Party of {{reservation.partySize}}</p>
    </div>
    <div class="venue">
      {{#with experience}}
        <div><strong>{{venueName}}</strong></div>
        <div>{{geo.streetNumber}} {{geo.streetName}}</div>
        <div>{{geo.city}}, {{geo.state}} {{geo.zipcode}}</div>
      {{/with}}
    </div>

    <div class='time-ago'>
      <span>Requested {{requestedDateTimeAgo}}</span>
    </div>

    <div class="buttons pull-right">
      <a class="btn btn-default btn-cancel-reservation">Cancel Reservation</a>
    </div>
  {{/if}}
</template>