<template name="onboardUserGuestInfo">
  {{#autoForm schema=guestInfoSchema id='guestInfo'}}
    <div class="modal-header">
      <div class="pull-right">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">
            <i class="icon icon-x"></i>
          </span>
          <span class="sr-only">Close</span>
        </button>
      </div>
      <h2 class="modal-title animated-fadeInRight">
        <h2 class="modal-title animated fadeInRight">Guest Verification</h2>
      </h2>
    </div>
    <div class="modal-body">
      <div class="row animated fadeInRight">
        <div class="col-xs-12 col-sm-6">
          {{> afQuickField name='firstName'}}
        </div>
        <div class="col-xs-12 col-sm-6">
          {{> afQuickField name='lastName'}}
        </div>
        <div class="col-xs-12">
          {{> afQuickField name='checkoutDate'}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type='submit' id='btn-step-one' class="btn btn-default animated fadeInRight">Continue</button>
    </div>
  {{/autoForm}}
</template>