<template name="deviceLayout">
  <div class="device-layout {{idleStatus}} {{section}}">
    {{> deviceHeader}}
     
    {{> idleOverlay}}
    {{> ordersSection}}

    <div class="experiences-section">
      {{> experiences}}
    </div>
    
    <div class="content">
      {{> yield}}
    </div>
    <!-- <div class="device-container {{deviceContainerClass}}">
      {{> yield}}
    </div> -->
    <div data-status="{{connectionStatus}}"></div>
  </div>

  <div class="overlays">
    {{#each experiencesOverlays}}
      {{> experience}}
    {{/each}} 
  </div>
  
</template>

<template name="preload">
  <div class="preloader hidden">
  	{{#each experiences}}
      <img src="{{photoUrl}}/convert?w=329&fit=scale&cache=true" alt="Thumbnail for {{title}}">
  	{{/each}}	

    {{#each experiences}}
      <img src="{{photoUrl}}?cache=true" alt="Full-size for {{title}}">
    {{/each}}
  </div>
</template>
