<template name="deviceLayout">
  <div class="big-text">
    <p class="lead ">Updating software</p>
    <div class="lead">
      The device will resume automatically when the update is complete
      <br>
      This may take up to 60 seconds
    </div>
  </div>

  <div class="device-layout">
  {{#if currentUser}}
    {{> deviceHeader}}
    <div class="content {{additionalContentClasses}} {{isFullscreen}} {{isScrollable}}">
      {{> meteorErrors}}
      {{> transitionedYield}}
    </div>
    {{> idleOverlay}}
    {{> experience}}
  {{else}}
    {{#if loggingIn}}
      <div class="content fullscreen scrollable">
        {{> loggingInOverlay}}
      </div>   
    {{else}}
      <div class="content fullscreen scrollable">
        {{> login}}
      </div>
      {{> idleOverlay}}
    {{/if}}
  {{/if}}
  </div>
  <div data-status="{{connectionStatus}}"></div>
</template>

<template name="preload">
  <div class="preloader hidden">
  	{{#each experiences}}
      <img src="{{photoUrl}}/convert?w=329&fit=scale&cache=true" alt="Thumbnail for {{title}}">
  	{{/each}}	

    {{#each experiences}}
      <img src="{{photoUrl}}?cache=true" alt="Full-size for {{title}}">
    {{/each}}
  </div>
</template>
