<template name="deviceLayout">
  
  {{> updating}}

  <div class="device-layout" style="background-image: url('{{hotelPhotoUrl}}')">
  {{#if currentUser}}
    {{> deviceHeader}}
    {{> meteorErrors}}
    <div class="content {{isFullscreen}} {{isScrollable}}">
      {{> transitionedYield}}
    </div>
    {{> idleOverlay}}
    {{> experience}}
  {{else}}
    {{#if loggingIn}}
      <div class="content fullscreen scrollable">
        {{> loggingInOverlay}}
      </div>   
    {{else}}
      <div class="content fullscreen scrollable">
        {{> login}}
      </div>
      {{> idleOverlay}}
    {{/if}}
  {{/if}}
  </div>
  {{> confirmReservation}}
  <div data-status="{{connectionStatus}}"></div>
</template>

<template name="preload">
  <div class="preloader hidden">
  	{{#each experiences}}
      <img src="{{photoUrl}}/convert?w=329&fit=scale&cache=true" alt="Thumbnail for {{title}}">
  	{{/each}}	

    {{#each experiences}}
      <img src="{{photoUrl}}?cache=true" alt="Full-size for {{title}}">
    {{/each}}
  </div>
</template>
