<template name="deviceLayout">
  
  <div class="preloader">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <img class="bg" alt='bg' src="{{hotelPhotoUrl}}" />
  <div class="overlay-bg black"></div>
  {{> idleOverlay}}

  {{> deviceHeader}}
  {{> meteorErrors}}
  
  {{#if currentUser}}
    
    <!-- <div id="main"> --> 
      <!-- transitioner-panes picker_holder-->
        <!-- pane picker_frame-->
          {{> transitionedYield}}
        <!-- /pane -->
      <!-- /transitioner -->
    <!-- </div> -->
    
    
    {{> experience}}
    {{> addItemToCartModal}}
    {{> confirmReservation}}
  {{else}}

    {{#if loggingIn}}
      {{> loggingInOverlay}}
    {{else}}
      {{> login}}
    {{/if}}
  {{/if}}
  
  <div data-status="{{connectionStatus}}"></div>
</template>


<!-- <div class="picker picker--time picker--focused picker--opened">
<div class="picker__holder">
<div class="picker__frame">
<div class="picker__wrap">
<div class="picker__box">  
</div>
</div>
</div>
</div>
</div> -->
