@import '/client/style/imports.import.less';

.navbar-device {
  height: 106px;
  z-index: 10;
  .translate(0,0);
  .transition(transform 300ms ease-out);
  
  &.fullscreen {
    .translate(0,-106px);
    .transition(transform 300ms ease-in);
  }

  .nav {
    line-height: 15px;
    li {
      
      a {
        &.menu-item {
          text-align: center;
          font-weight: 200;
          text-transform: uppercase;
          letter-spacing: .1em;
          cursor: pointer;
          padding: 18px 0px 8px !important;

          & > .icon {

            display: block;
            margin: 0 auto;
            font-size: 60px;

            &:before {
              display: block;
            }

            &.fa {
              font-size: 70px;
            }
          }

          & > .text {
            font-size: 16px;
            display: block;
            margin-top: 4px;
          }
        }
      }
      &.back {
        font-size: 20px;
        margin-right: 2em;
      }
    }
  }
}
