<template name="deviceHeader">
  <div class="navbar navbar-default navbar-plusmore navbar-device navbar-fixed-top {{additionalHeaderClasses}} {{isFullscreen}}" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav nav-justified">

        {{#if hotelServicesEnabled}}
        <li class="{{activeRouteClass 'hotelServices'}}">
          <a href="{{pathFor 'hotelServices'}}" class="menu-item hotel-services">
            <i class="icon icon-front-desk"></i>
            <span class="text">Hotel Services</span>
          </a>
        </li>
        {{/if}}
        
        {{#each categories}}
          {{> categoryLink}}
        {{/each}}
        <!-- <li class="{{activeRouteClass 'message'}}">
          <a href="{{pathFor 'message'}}" class="menu-item message">
            <i class="icon icon-message"></i>
            <span class="text">Message</span>
          </a>
        </li> -->
        <li class="{{activeRouteClass 'orders'}}">
          <a href="{{pathFor 'orders'}}" class="menu-item orders">
            <i class="icon icon-orders"></i>
            <span class="text">Orders</span>
          </a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</template>