@import '/client/style/imports.import.less';

.navbar-device {
  // Smallest size (iPhone) - bigger devices have height changes in media queries at bottom of page
  height: 50px;
  z-index: 10;
  .translate(0,0);
  .transition(transform 300ms linear);
  
  &.fullscreen {
    .translate(0,-140px);
    .transition(transform 300ms linear);
  }

  .nav {
    line-height: 15px;
    li {
      height: 140px;
      a {
        &.menu-item {
          text-align: center;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: .1em;
          cursor: pointer;
          padding: 31px 0px 10px !important;

          & > .icon {

            display: block;
            margin: 0 auto;
            font-size: 67px;

            &:before {
              display: block;
            }

            &.fa {
              font-size: 70px;
            }
          }

          & > .text {
            font-size: 1.2em;
            display: block;
            margin-top: 10px;
          }
        }
      }
      &.back {
        font-size: 20px;
        margin-right: 2em;
      }
    }
  }
}

 // small
@media (min-width: 768px) {
  .navbar-device {
    height: 140px;

    .navbar-collapse.in {

    }
  }
}

// medium
@media (min-width: 992px) {}

// large
@media (min-width: 1200px) {}
