<template name="bookNow">
  {{#hiddenXs}}

    {{> bookNowForm}}
    
  {{/hiddenXs}}

  {{#visibleXs}}
  
    {{> bookNowMobileForm}}
  {{/visibleXs}}
</template>

<template name="bookNowForm">
  <form  role="form">
      <div class="col-sm-3 form-group">
  
          <input type="text" class="form-control datepicker" readonly="readonly" />
   
      </div>

      <div class="col-sm-3 form-group">

          <input type="text" class="form-control timepicker" readonly="readonly"/>

      </div>

      <div class="col-sm-3 form-group">
    
          <select class="form-control" name="partySize">
            <option value="1">1 Person</option>
            <option value="2" selected="true">2 People</option>
            <option value="3">3 People</option>
            <option value="4">4 People</option>
            <option value="5">5 People</option>
            <option value="6">6 People</option>
            <option value="7">7 People</option>
            <option value="8">8 People</option>
          </select>

      </div>

      <div class="col-sm-3 form-group">
        <button class="btn btn-primary btn-block btn-call-to-action {{state}}" href="">
          {{#unless confirm}}
            Book A Table
          {{else}}
            Confirm
          {{/unless}}
        </button>     
      </div>
    </form> 
</template>

<template name="bookNowMobileForm">
  <form role="form">
    <div id='book-now' class="col-xs-12">
      <a class="btn btn-primary btn-block btn-call-to-action" href="">Book A Table</a>  
    </div> 
  </form> 
</template>