<template name="mainNav_original">
  <nav class="outer-nav left vertical">
        

    {{#if isInRole 'admin' 'hotel-staff' 'hotel-manager'}}
      <a href="{{pathFor 'setupDevice'}}">Kiosk Mode</a>
    {{/if}}

    {{#if inStayOrInRoom}}
  
      {{#if hotelServicesEnabled}}
        <a href="{{pathFor 'hotelServices'}}" class="icon-front-desk">Guest Services</a>
        <a href="{{pathFor 'roomService'}}" class="icon-roomservice">Room Service</a>
      {{/if}}

    {{/if}}

    {{#each categories}}
      {{> categoryLink}}
    {{/each}}

    <a href="{{pathFor 'orders'}}" class="icon-orders">Orders</a>
    
  </nav>
</template>

<template name="mainNav_panel">
  <nav class="outer-nav left vertical">
    <div class="panel-group" id="accordionMenu" role="tablist">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="hotelMenu">
          <h2>
            <a data-toggle="collapse" data-parent="#accordionMenu" href="#hotelMenuCollapse">
              Hotel
            </a>
          </h2>
        </div>
        <div id="hotelMenuCollapse" class="panel-collapse collapse in" role="tabpanel" labelledby="hotelMenu">
          <div class="panel-body">
            {{#if isInRole 'admin' 'hotel-staff' 'hotel-manager'}}
              <a href="{{pathFor 'setupDevice'}}">Kiosk Mode</a>
            {{/if}}
            {{#if inStayOrInRoom}}
              {{#if hotelServicesEnabled}}
                <a href="{{pathFor 'hotelServices'}}" class="icon-front-desk">Guest Services</a>
                <a href="{{pathFor 'roomService'}}" class="icon-roomservice">Room Service</a>
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="categoryMenu">
          <h2 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionMenu" href="#categoryMenuCollapse">
              Categories
            </a>
          </h2>
        </div>
        <div id="categoryMenuCollapse" class="panel-collapse collapse" role="tabpanel" labelledby="categoryMenu">
          <div class="panel-body">
            {{#each categories}}
              {{> categoryLink}}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<template name="mainNav">
  <nav class="outer-nav left vertical">
    <div class="modal-header">
      <h2 class="modal-title">
        Hotel
      </h2>
    </div>
    <div class="modal-body">
      {{#if isInRole 'admin' 'hotel-staff' 'hotel-manager'}}
        <a href="{{pathFor 'setupDevice'}}">Kiosk Mode</a>
      {{/if}}
      {{#if inStayOrInRoom}}
        {{#if hotelServicesEnabled}}
          <a href="{{pathFor 'hotelServices'}}" class="icon-front-desk">Guest Services</a>
          <a href="{{pathFor 'roomService'}}" class="icon-roomservice">Room Service</a>
        {{/if}}
      {{/if}}
    </div>
    <div class="modal-header">
      <h2 class="modal-title">
        Categories
      </h2>
    </div>
    <div class="modal-body">
      {{#each categories}}
        {{> categoryLink}}
      {{/each}}
    </div>
  </nav>
</template>