<template name="mainNav">
  <nav class="outer-nav left vertical">
    
    <div class="panel-group" id="nav-accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#nav-accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Hotel
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <a href="{{pathFor 'hotelInformation'}}" class="icon-building">Hotel Information</a>
            <a href="{{pathFor 'roomService'}}" class="icon-roomservice">Room Service</a>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#nav-accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Food
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <a href="{{pathFor 'hotelInformation'}}" class="icon-building">Hotel Information</a>
            <a href="{{pathFor 'roomService'}}" class="icon-roomservice">Room Service</a>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#nav-accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Nightlife
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <a href="{{pathFor 'hotelInformation'}}" class="icon-building">Hotel Information</a>
            <a href="{{pathFor 'roomService'}}" class="icon-roomservice">Room Service</a>
          </div>
        </div>
      </div>
    </div>


  </nav>
</template>

<!-- <div id="nav-accordion" class="panel list-group">
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#hotelLinks" data-parent="#menu">Hotel</a>
        <div id="hotelLinks" class="sublinks collapse in">
          {{#if isInRole 'admin' 'hotel-staff' 'hotel-manager'}}
            <a class="list-group-item small" href="{{pathFor 'setupDevice'}}">Kiosk Mode</a>
          {{/if}}
          {{#if inStayOrInRoom}}
            {{#if hotelServicesEnabled}}
              <a href="{{pathFor 'hotelServices'}}" class="icon-front-desk">Guest Services</a>
            {{/if}}
          {{/if}}
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#foodLinks" data-parent="#menu">Food</a>
        <div id="foodLinks" class="sublinks collapse">
          {{#if inStayOrInRoom}}
            {{#if hotelServicesEnabled}}
              <a href="{{pathFor 'roomService'}}" class="icon-roomservice">Room Service</a>
            {{/if}}
          {{/if}}
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#nightlifeLinks" data-parent="#menu">Nightlife</a>
        <div id="nightlifeLinks" class="sublinks collapse">
          <a class="list-group-item small" href="#">Link 1</a>
          <a class="list-group-item small" href="#">Link 2</a>
          <a class="list-group-item small" href="#">Link 3</a>
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#cityLinks" data-parent="#menu">City</a>
        <div id="cityLinks" class="sublinks collapse">
          <a class="list-group-item small" href="#">Link 1</a>
          <a class="list-group-item small" href="#">Link 2</a>
          <a class="list-group-item small" href="#">Link 3</a>
        </div>
      </div> -->