<template name="mainNav">
  <nav class="outer-nav left vertical">
    <div id="menu">
      <div class="panel list-group">
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#hotelLinks" data-parent="#menu">Hotel</a>
        <div id="hotelLinks" class="sublinks collapse in">
          {{#if isInRole 'admin' 'hotel-staff' 'hotel-manager'}}
            <a class="list-group-item small" href="{{pathFor 'setupDevice'}}">Kiosk Mode</a>
          {{/if}}
          {{#if inStayOrInRoom}}
            {{#if hotelServicesEnabled}}
              <a href="{{pathFor 'hotelServices'}}" class="icon-front-desk">Guest Services</a>
            {{/if}}
          {{/if}}
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#foodLinks" data-parent="#menu">Food</a>
        <div id="foodLinks" class="sublinks collapse">
          {{#if inStayOrInRoom}}
            {{#if hotelServicesEnabled}}
              <a href="{{pathFor 'roomService'}}" class="icon-roomservice">Room Service</a>
            {{/if}}
          {{/if}}
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#nightlifeLinks" data-parent="#menu">Nightlife</a>
        <div id="nightlifeLinks" class="sublinks collapse">
          <a class="list-group-item small" href="#">Link 1</a>
          <a class="list-group-item small" href="#">Link 2</a>
          <a class="list-group-item small" href="#">Link 3</a>
        </div>
        <a href="#" class="list-group-item" data-toggle="collapse" data-target="#cityLinks" data-parent="#menu">City</a>
        <div id="cityLinks" class="sublinks collapse">
          <a class="list-group-item small" href="#">Link 1</a>
          <a class="list-group-item small" href="#">Link 2</a>
          <a class="list-group-item small" href="#">Link 3</a>
        </div>
      </div>
    </div>
  </nav>
</template>