<template name="hotelAmenities">
	{{> amenityCategory}}
</template>


<template name="amenityCategory">

	<div class="inline animated fadeInRight">
    <div class="modal-header">
      <h4 class="modal-title">
        In-room Amenities
        <small class="pull-right"><em></em></small>   		
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <p><strong>For your convenience and enjoyment, please enjoy our complementary:</strong></p>
          <ul>
            <li><p>Keurig Coffee Maker</p></li>
            <li><p>Full Cable Access (HBO, ShowTime, ESPN Total Sports)</p></li>
            <li><p>Room service compliments of PlusMore Concierge Services</p></li>
          </ul>
        </div>
      </div>	
		</div>
  </div>

  <div class="inline animated fadeInRight">
    <div class="modal-header">
      <h4 class="modal-title">
        Indoor Pool & Jacuzzi
        <small class="pull-right"><em>
          8am - 10pm
        </em></small>
      </h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <p><strong>Our pool and jacuzzi are located left of the lobby. Please note:</strong></p>
          <ul>
            <li><p>Children 13 and under must be accompanied by an adult</p></li>
            <li><p>There are no beverages allowed in the pool</p></li>
            <li><p>There is no life guard on duty</p></li>
          </ul>
        </div>
      </div>    	
		</div>
  </div>
</template>