<template name="hotelInformation">
	{{#Layout template="contentLayout"}}

		{{#contentFor "title"}}
			Hotel Info
		{{/contentFor}}

		<div class="hotel-info quick animated fadeIn">

			<div class="content row">

				<div class="col-sm-7">

					<p class="lead" style="text-indent:50px;">[description] Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora consequuntur sed est tempore. Placeat, temporibus quidem, ipsam veritatis molestiae labore perferendis dolores illum est aspernatur similique officia. Officiis, consequuntur, quibusdam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam expedita, porro similique tempore eius totam hic assumenda. Fugiat possimus iste officiis error commodi minus laudantium facere natus nihil quibusdam. Magnam.</p>
				
					{{> hotelAmenities}}

				</div>

				<div class="col-sm-5">
					{{> hotelInformationMap}}
					
					{{> underMapInfo}}
				</div>
				
			</div>

		</div>

	{{/Layout}}
</template>