<template name="hotelInformation">
  <div class="hotel-info quick animated fadeIn">

    <nav class="navbar navbar-fixed-top navbar-plusmore" role="navigation">
      <div class="container-fluid">
        <i class="icon icon-menu">
          <span class="text">Menu</span>
        </i>

        <h3 class="navbar-title">
          Hotel Info
        </h3>

      </div>
    </nav>

    <div id="hotel-bg" class="hotel-bg">
      <img class='hotel-info-bg img-responsive' src="{{hotel.photoUrl}}/convert?{{bgImgWidth}}&{{bgImgHeight}}&fit=crop&cache=true" alt="">
    </div>


    <div class="outer">
      <div class="holder">
        <section>
          <div class="main scrollable">
            <div class="hotel-info-content">
              <div class="container-fluid">
                {{#if Template.subscriptionsReady}}
                  <div class="content-spacer" style="{{contentSpacerCss}}"></div>
                  <div class="row first-row" id="info-header">
                    <div class="col-xs-12">
                      <h4>{{hotel.name}}</h4>
                      <h5>{{hotel.geo.streetNumber}} {{hotel.geo.streetName}}<br>{{hotel.geo.city}}, {{hotel.geo.state}} {{hotel.geo.zip}}<br>{{hotel.phone}}</h5>
                    </div>
                  </div>
                  <div class="row" id="description">
                    <div class="col-xs-12">
                      <div class="description">
                        <p>{{hotel.description}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                  {{#each amenities}}
                    <div class="col-xs-12 col-sm-4 amenity">
                      {{> hotelAmenity}}
                    </div>
                  {{/each}}
                  </div>
                  {{> hotelInformationMap}}
                {{else}}
                  {{> loadingAnimation}}
                {{/if}}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

  </div>
</template>
