@import '/client/style/imports.import.less';

.hotel-info {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  background-color: #fff;

  .outer .holder section .main {
    padding-top: 0;
  }

  #hotel-bg {
    position: fixed;
    top: 0;
    z-index: 0;
    min-height: 50%;
    width: 100%;
    background-color: #F3F3F4;

    .hotel-info-bg {
      width: 100%;
      height: auto;
      border-top: 65px solid #000;

      .box-reflect(below 0px);
    }
  }



  & .hotel-info-content {
    color: #000;
    // box-shadow: 0px 0px 20px #000;

    height: auto;
    top: inherit;
    bottom: inherit;

    & > .container, & > .container-fluid {
      & > .row {
        border-bottom: 1px solid #F3F3F4;
        padding: 20px;
        background: #fff;
        text-align: center;

        // applied with js due to css limitations
        // and the first row is not always the same
        &.first-row {
          box-shadow: 0px 0px 20px #000;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    #description {
      text-align: justify;
    }

    .description {
      & > p {
        white-space: pre-wrap;
      }
    }

    .amenity {
      border-bottom: 1px solid #F3F3F4;
      padding: 15px;
      margin-bottom: 10px;
      padding-top: 0;


      &:last-child {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
      }

      ul {
        list-style: none;
        padding-left: 0;
      }
    }

  }
}

#info-header {
  background: rgba(0,0,0,.7);
  padding: 10px 10px;
  color: #fff;
}

@media (max-width: 767px) {}

@media (min-width: 768px) {
  .hotel-info {
    .hotel-info-content {
      .amenity {
        margin-bottom: 0;
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}
