<template name="loading">
  {{#Layout template="contentLayout"}}

    {{#contentFor 'title'}}

    {{/contentFor}}

    <div class="row">
      <div class="col-xs-12">
        {{> loadingAnimation}}
      </div>
    </div>

  {{/Layout}}
</template>

<template name="loadingAnimation">
  <div class="preloader compact">
    <div class="loader-text">Loading</div>
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</template>
