@import '/client/style/imports.import.less';

#login {

  #login-dropdown-list {
    list-style: none;

    & > a.dropdown-toggle {
      display: none;
    }

    & > .dropdown-menu {
      display: block;
      position: relative;
      float: none;
      width: 50%;
      margin: 0 auto;

      .clearfix();

    }
  }
}