@import '/client/style/imports.import.less';

.open-login {

  #login-dropdown-list {
    list-style: none;

    & > a.dropdown-toggle {
      display: none;
    }

    & > .dropdown-menu {
      display: block;
      position: relative;
      float: none;
      margin: 0 auto;
      min-width: inherit;

      .clearfix();

      #login-other-options {
        a {
          color: #000;
        }
        #signup-link {
          display: none;
        }
      }

      .alert {
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        bottom: initial;
        z-index: initial;
      }

      #login-buttons-password {
        width: 100%;
      }

    }
  }
}

.minimal-login {

  #login-dropdown-list {
    list-style: none;

    & > a.dropdown-toggle {
      display: none;
    }

    & > .dropdown-menu {
      display: block;
      position: relative;
      float: none;
      margin: 0 auto;
      min-width: inherit;
      background: transparent;
      padding: 0;

      .clearfix();

      #login-email {
        display: none;
      }

      #login-password {
        border-radius: 5px;
      }

      #signup-link {
        display: none;
      }

    }
  }
}
