<template name="deviceLayout">
  
  <div class="preloader">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>

  <div id="perspective" class="perspective effect-airbnb modalview {{showMenu}}">
    <div class="container">
      <img class="bg" alt='bg' src="{{hotelPhotoUrl}}" />
      <div class="overlay-bg black"></div>  
      {{> meteorErrors}}

      {{#if currentUser}}
        
        <div class="outer">
          <div class="holder">
            {{> yield}}
          </div>
        </div>

      {{else}}

        {{#if loggingIn}}
          {{> loggingInOverlay}}
        {{else}}
          {{> login}}
        {{/if}}

      {{/if}}

    </div>

    {{> mainNav}}
    
  </div>

  <!-- Overlays -->
  {{#if currentUser}}
    {{> experience}}
    {{> addItemToCartModal}}
    {{> confirmReservation}}
  {{/if}}

  {{> idleOverlay}}

  <!-- {{> deviceHeader}} -->
  
  <div data-status="{{connectionStatus}}"></div>
</template>
