<template name="experience">
  {{#if subscriptionsReady}}
    {{#with experience}}
      <div class="experience quick animated fadeIn" style="background-image: url('{{photoUrl}}/convert?w=1024&h=768&fit=scale&cache=true')">

        <div class="back">
          <a href="{{pathFor 'experiences'}}" class="back"><i class="icon icon-back"></i>&nbsp;Back</a>
        </div>

        <div class="content row">
          {{> experienceDetails}}
        </div>

        {{#if callToAction}}
          {{> callToAction}}
        {{/if}}

      </div>
      {{> confirmReservation}}
    {{/with}}
  {{/if}}
</template>