<template name="experiences">
  <section>
    <div class="main container-fluid scrollable">
      <div class="row">
        {{#each experiences}}
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 experienceThumbnail animated fadeIn">
            {{> experienceThumbnail}}
          </div>
        {{/each}}  
      </div>
      <div class="row">
        {{> experiencesFooter}}
      </div>
    </div>
  </section>
</template>

<template name="experiencesFooter">
  <footer class='col-xs-12 experiences-footer'>
    <div class="text">PlusMor<span class="last-letter">e</span></div>
    <div class="small-text">Your Private Concierg<span class="last-letter">e</span></div>
  </footer>
</template>