<template name="experienceDetails">
  <div id="info" class="row  {{firstRowClass}}">  
    <div class="col-xs-12 col-sm-6">
      {{#if yelpId}}
        {{> experienceYelpRating}}
      {{/if}}
      {{#with geo}}
        <div class="address">
          {{#if streetName}}
          <div>{{streetNumber}} {{streetName}}</div>
          {{/if}}

          {{#if city}}
            <div>
              {{city}}, 
              {{stateCode}} 
              {{zipcode}}
            </div>
          {{/if}}  
        </div>
      {{/with}}
    </div>
    <div class='col-xs-12 col-sm-6'>
      {{#each tagsFromGroups}}
        <span class="label label-tag">{{tag}}</span>
      {{/each}}  
    </div>
  </div>

  {{#if hasPerk}}
    <div class="row" id="perk">
      <div class="col-xs-12">
        <img src="https://www.filepicker.io/api/file/FJUa9OhlTDe5i50auzJt" alt="PlusMore Perk!">
        <p class="text">Receive an exclusive perk when you book with PlusMore!</p>
      </div>
    </div>
  {{/if}}

  <div class="row" id="description">
    <div class="col-xs-12">
      <div class="description">
        <p>{{description}}</p>
      </div>
    </div>
  </div>

  {{#if hasPhotos}}
    {{> experiencePhotos}}
  {{/if}}
</template>