<template name="experienceDetails">

  {{#unless stickBookNow}}
    {{> callToAction}}
  {{/unless}}
  <div id="info" class="row stickem-container">  
    <div class="col-xs-12 col-sm-6">
      {{#if yelpId}}
        {{> experienceYelpRating}}
      {{/if}}
      {{#with geo}}
        <div class="address">
          {{#if streetName}}
          <div>{{streetNumber}} {{streetName}}</div>
          {{/if}}

          {{#if city}}
            <div>
              {{city}}, 
              {{stateCode}} 
              {{zipcode}}
            </div>
          {{/if}}  
        </div>
      {{/with}}
      <div>
          {{#each tagsFromGroups}}
            <span class="label label-tag">{{tag}}</span>
          {{/each}}  
      </div>
    </div>
  </div>

  <div class="row" id="perk">
    <div class="col-xs-12 col-sm-6">
      <i class="icon icon-prize"></i>
      <p class="text">Receive an exclusive perk when you book with PlusMore!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="description">
        <p>{{description}}</p>
      </div>
    </div>

  </div>
</template>