@import '/client/style/imports.import.less';

.experiences-footer {
  padding-top: 44px;
  padding-bottom: 29px;
  .text {
    .center();
    color: #fff;
    font-weight: 100;
    font-size: 1.5em; //2.5
    letter-spacing: 1em;
    text-transform: uppercase;

    & > .last-letter {
      letter-spacing: 0em;
    }
  }
  .small-text {
    .center();
    letter-spacing: .9em;
    color: #ccc;
    font-weight: 200;
    font-size: 1em;
    text-transform: uppercase;
    & > .last-letter {
      letter-spacing: 0em;
    }
  }
}


// small
@media (min-width: 768px) {
  .experiences-footer {
    .text {
      font-size: 2.5em;
    }
  }
}

// medium
@media (min-width: 992px) {}

// large
@media (min-width: 1200px) {}