<template name="about">
  <section>
    <div class="main container scrollable no-padding-top about">
      
      <header class="row animated fadeInRight">
        <div class="col-md-12">
          <h1>What is PlusMore?</h1>
          <p class="lead">Our free concierge service gives you access to the best hand-picked experiences this city has to offer.</p>
        </div>
      </header>
      
      <div class="row animated fadeInRight">
        <div class="col-md-4 reason">
          <i class="icon icon-time"></i>
          <h3>Priority Service</h3>
          <p>Score same day reservations at the hottest venues in the city.</p>
        </div>
        <div class="col-md-4 reason">
        <i class="icon icon-prize"></i>
          <h3>Exclusive Perks</h3>
          <p>Book with PlusMore to receive complimentary goodies with your reservations.</p>
        </div>
        <div class="col-md-4 reason">
          <i class="icon icon-vip"></i>
          <h3>VIP Treatment</h3>
          <p>You deserve to be treated like a VIP. Just show up and let us take care of the rest.</p>
        </div>
      </div> 

      <footer class="row animated fadeInRight">
        <div class="col-md-4 col-md-offset-4">
          <a href="{{pathFor 'howToBook'}}" class="btn btn-default btn-lg btn-next">NEXT</a>
        </div>
        <div class="col-md-4 skip">
          <a href="#" class="btn btn-lg btn-skip">Skip to Menu</a>
        </div>
      </footer>

    </div>  
  </section>
  
</template>