<template name="howToBook">
  <section>
    <div class="main container no-padding-top scrollable how-to-book">
      
      <header class="row animated fadeInRight">
        <div class="col-md-12">
          <h1>How it works</h1>
        </div>
      </header>
      
      <div class="row animated fadeInRight">

        <div class="col-md-4 step">
          <h3>1. Tap 'Book Now' and let us know when you'd like to go</h3>
          <div class="experienceExample">
            {{#with diningExperience}}
              <div class="experienceThumbnail">
                {{> experienceThumbnail}}
              </div>
            {{/with}}
          </div>
        </div>

        <div class="col-md-4 step">
          <h3>2. Receive Email Confirmation</h3>
          <img src="/images/onboard-confirmation.png" class='img-responsive img-confirmation' />
        </div>

        <div class="col-md-4 step">
          <h3>3. Go to the venue at the time you requested and skip the line!</h3>
          <img src="/images/onboard-line.png" class='img-responsive' /> 
        </div>
      </div> 

      <footer class="row animated fadeInRight">
        <div class="col-md-4 col-md-offset-4">
          <a href="{{pathFor 'howToBook'}}" class="btn btn-default btn-lg btn-ready">I'm Ready</a>
        </div>
      </footer>

    </div>  
  </section>
  
</template>