.enter-checkout-date {
  header {
    text-align: center;
    margin-top: 25px;
  }
  input.datepicker {
    visibility: hidden;
  }
  .picker--opened {
    .picker__holder {
      background: inherit;
      
      .picker__frame {
        top: auto;
        bottom: 0;
        
        .picker__wrap {
          width: auto;
          height: auto;
          display: block;

          .picker__box {
            // padding: 0px 1em 1px;

            .picker__footer > button {
              visibility: hidden;
            }
          }  
        }
        
      }
    }  
  } 
}

// small
@media (min-width: 768px) {
  .enter-checkout-date {
    .picker--opened {
      .picker__holder {
        .picker__frame {
          top: 100px;
        }
      }  
    } 
  }
}
