<template name="navCategory">
    <div class="modal-content inline">
      <div class="modal-header">
        <h3 class="modal-title">
          <div class="pull-right">
            <a href="#" class="icon icon-x" id="delete-nav-category"></a>
          </div>
          #{{menuRank}} - {{name}}
        </h3>
      </div>
      <div class="modal-body">
        <p>

          {{#if kioskOnly}}
            <span class="badge">Kiosk Only</span>
          {{/if}}

          {{#if hotelService}}
            <span class="badge">Hotel Service</span>
          {{/if}}

          {{#if mobileOnly}}
            <span class="badge">Mobile Only</span>
          {{/if}}

          {{#if adminOnly}}
            <span class="badge">Admin Only</span>
          {{/if}}

          {{#if requiresHotelData}}
            <span class="badge">Requires Hotel Data</span>
          {{/if}}

        </p>
        <table class="table">
          {{#each navLinks}}
            {{> navLink}}
          {{/each}}
        </table>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" id="add-nav-link">Add Link</button>
        <button class="btn btn-primary" id="edit-nav-category">Edit Category</button>
      </div>
    </div>
</template>



<template name="addNavCategory">
  <div class="modal-dialog">
    <div class="modal-content inline">
      <div class="modal-header">
        <div class="pull-right">
          <h3><a href="#" class="icon icon-x" id="dismiss-modal"></a></h3>
        </div>
        <h3 class="modal-title">
          <div class="pull-right">
            <a href="#" class="icon icon-x" id="dismiss-modal"></a>
          </div>
          Add New Navigation Category
        </h3>
      </div>
      <div class="modal-body">
        {{> quickForm collection="NavCategories" id="addNavCategory" type="insert"}}
      </div>
    </div>
  </div>
</template>



<template name="editNavCategory">
  <div class="modal-dialog">
    <div class="modal-content inline">
      <div class="modal-header">
        <h3 class="modal-title">
          <div class="pull-right">
            <a href="#" class="icon icon-x" id="dismiss-modal"></a>
          </div>
          Edit Navigation Category
        </h3>
      </div>
      <div class="modal-body">
        {{> quickForm collection="NavCategories" doc=this id="editNavCategory" type="update" resetOnSuccess=false}}
      </div>
    </div>
  </div>
</template>
