<template name="ordersSection">
  <div class="orders-section">
    {{#if hasOrders}}
      <div class="orders-list touch-scrollable">
        <div class="orders">
          {{#each orders}}
            {{> order}}
          {{/each}}
        </div>
      </div>
    {{else}}
      <div class="no-orders big-text">
        <p class="lead">You have no open orders.</p>
      </div>
    {{/if}}  
  </div>
</template>

<template name="order">
  <div class="order section col-md-12 {{status}}">
    {{#if isReservation}}
      <header>
        <h3>
          Reservation for {{experience.title}}
          <small class="pull-right">
            {{#if isPending}}
              (In Progress)
            {{/if}}
            {{#if isConfirmed}}
              Confirmed
            {{/if}}
            {{#if isCancelled}}
              Cancelled
            {{/if}}
          </small>
        </h3>
      </header>
      
      {{#if isCancelled}}
        <p>Cancelled {{cancelledDateMomentAgo}}</p>
      {{else}}
        <div class="reservation-details">
          <p>{{when}}</p>
          <p>{{reservation.partyName}} - Party of {{reservation.partySize}}</p>
        </div>
        <div class="venue">
          {{#with experience}}
            <strong>{{venueName}}</strong>
            <span>{{street}}</span>
            <span>{{city}}, {{state}}</span>
          {{/with}}
        </div>
       
        <a class="btn btn-default btn-cancel-reservation pull-right">Cancel Reservation</a>
        <p>Requested {{requestedDateTimeAgo}}</p>
      {{/if}}
      
    {{/if}}
  </div>
</template>