<template name="ordersSection">
  <div class="orders-section">
    {{#if hasOrders}}
      <div class="orders-list touch-scrollable">
        <div class="orders">
          {{#each orders}}
            {{> order}}
          {{/each}}
        </div>
      </div>
    {{else}}
      <div class="no-orders big-text">
        <p class="lead">You have no open orders.</p>
      </div>
    {{/if}}  
  </div>
</template>

<template name="order">
  <div class="order section {{status}}">
    {{#if isReservation}}
      <header>
        <h3>
          Reservation for {{experience.title}}
          <small class="pull-right">
            {{#if isPending}}
              (In Progress)
            {{/if}}
            {{#if isConfirmed}}
              Confirmed
            {{/if}}
            {{#if isCancelled}}
              Cancelled
            {{/if}}
          </small>
        </h3>
      </header>
      
      {{#if isCancelled}}
        <p>Cancelled on {{cancelledDate}}</p>
      {{else}}
        <p class="lead">{{reservation.partyName}} - Party of {{reservation.partySize}}</p>
        {{#with experience}}
          <a class="btn btn-default" href="{{pathFor 'experience'}}">See Details</a>
        {{/with}}
        <hr class="soften" />
        <a class="btn btn-danger cancel-reservation">Cancel Reservation</a>
      {{/if}}
      
    {{/if}}
  </div>
</template>