<template name="orders">
  {{#if hasOrders}}
    <section>
      <div class="main container scrollable">
        <div class="row">
          {{#each orders}}
            {{> order}}
          {{/each}}
        </div>
      </div>
    </section>
  {{else}}
    <section>
      <div class="main container scrollable">
        <div class="row">

          <div class="no-orders big-text">
            <p class="lead">You have no open orders.</p>
          </div>

        </div>
      </div>
    </section>
  {{/if}}
</template>