<template name="enterCheckoutDate">
  <section class='enter-checkout-date'>
    <div class="main container-fluid scrollable no-padding-top">
      <header class="row">
        <div class="col-md-12">
          <h1>Select Checkout Date</h1>
          <p class="lead">
            In order to offer you great deals during your stay we just need your checkout date to get started
          </p>
        </div>
      </header>

      <input type="hidden" class="datepicker" autofocus=true />
    </div>  
  </section>
</template>