.enter-checkout-date {
  header {
    text-align: center;
    padding: 0 125px;
    margin-bottom: 45px;
    margin-top: 25px;

    h1 {
      font-weight: 100;
      font-size: 5em;
    }

    p.lead {
      font-weight: 100;
      font-size: 2em;
    }  
  }
  input.datepicker {
    visibility: hidden;
  }
  .picker--opened {
    .picker__holder {
      background: inherit;
      
      .picker__frame {
        top: 225px;
      }
    }  
  } 
}