<template name="roomService">
  {{#Layout template="contentLayout"}}
    {{#contentFor "title"}}
      Room Service
    {{/contentFor}}

    {{#if Template.subscriptionsReady}}
      {{> roomServiceContent}}
    {{else}}
      {{> loadingAnimation}}
    {{/if}}


  {{/Layout}}
  <div id='jump-to-order' class="visible-xs animated somewhat-faster slideInRight centered">
    <i class="icon icon-orders animated fadeInRight"></i>
  </div>
</template>

<template name="roomServiceContent">
  <div class="row">
    <div class="col-sm-7 col-xs-no-padding">
      {{> menuCategories}}
    </div>
    <div class="col-sm-5 col-xs-no-padding">
      {{> cart}}
    </div>
  </div>
</template>
