<template name="roomService">
  {{#Layout template="contentLayout"}}
    {{#contentFor "title"}}
      Room Service
    {{/contentFor}}
  
   {{> roomServiceContent}}

  {{/Layout}}
  <div id='jump-to-order' class="visible-xs animated somewhat-faster slideInRight centered">
    <i class="icon icon-orders"></i>
  </div>
</template>

<template name="roomServiceContent">
  <div class="row animated somewhat-faster fadeInUp">
    <div class="col-sm-7 col-xs-no-padding">
      <div class="row">
        <div class="col-sm-12">
          {{> menuCategories}}
        </div>
      </div>
    </div>   
    <div class="col-sm-5 col-xs-no-padding">
      <div class="row">
        <div class="col-sm-12">
          {{> cart}}
        </div>
      </div>   
    </div> 
  </div>
</template>