<template name="roomService">
  {{#if subscriptionsReady}}
    {{#Layout template="contentLayout"}}
      {{#contentFor "title"}}
        Room Service
      {{/contentFor}}
    
     {{> roomServiceContent}}

    {{/Layout}}
  {{else}}
    {{> loading}}
  {{/if}}
</template>

<template name="roomServiceContent">
  <div class="row animated somewhat-faster fadeInUp">
    <div class="col-sm-7 col-xs-no-padding">
      <div class="row">
        <div class="col-sm-12">
          <div class="modal-content inline">
            <div class="modal-header">
              <h3 class="modal-title">
                Room Service
                <small>
                  Available
                  {{#if startTime}}
                    {{startTime}} - {{endTime}}
                  {{else}}
                    Anytime
                  {{/if}}
                </small>
              </h3>
            </div>
          </div><!-- /.modal-content -->          
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          {{> menuCategories}}
        </div>
      </div>
    </div>   
    <div class="col-sm-5 col-xs-no-padding">
      <div class="row">
        <div class="col-sm-12">
          {{> cart}}
        </div>
      </div>   
    </div> 
  </div>
</template>